<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <% if @book.user.profile_image.attached? %>
        <%= image_tag @book.user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'default-image.jpg', size: "100x100" %>
      <% end %>
      <div class="d-flex">
        <div>
          <p class="border-bottom border-top py-2 font-weight-bold">name</p>
          <p class="py-2 font-weight-bold">introduction</p>
        </div>
        <div class="w-100">
          <p class="text-right border-bottom border-top py-2 pr-4 font-weight-bold"><%= @user.name %></p>
          <p class="text-right py-2 pr-4 text-right font-weight-bold"><%= @user.introduction %></p>
        </div>
      </div>

      <%= link_to edit_user_path(@user.id), class: 'btn btn-light btn-outline-dark btn-block' do %>
        <i class="fas fa-user-cog"></i>
      <% end %>

      <h2>New book</h2>
        <%= form_with model: @new do |f| %>
          <p>Title</p>
          <%= f.text_field :title, class: 'w-100' %>

          <p>Opinion</p>
          <%= f.text_area :body, class: 'w-100' %>

          <%= f.submit 'Create Book', class: 'btn btn-success btn-sm' %>
        <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="pt-2">Book detail</h2>
      <div class="d-flex">
        <div class="w- 100border-top py-2 px-2">
          <% if @book.user.profile_image.attached? %>
            <%= link_to image_tag(@book.user.profile_image, size: "100x100"), user_path(@user.id) %>
          <% else %>
            <%= link_to image_tag("default-image.jpg", size: "100x100"), user_path(@user.id) %>
          <% end %>
          <br>
          <%= link_to @book.user.name, user_path(@user.id) %>
        </div>
        <div class="border-top py-2 pl-5">
          <%= link_to @book.title, book_path(@book.id) %>
        </div>
        <div class="border-top py-2 px-5">
          <%= @book.body %>
        </div>

        <% if @book.user_id == current_user.id %>
        <div class="border-top py-2 px-5">
            <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success btn-sm' %>
        </div>
        <div class="border-top py-2 px-5">
            <%= link_to "Destroy", book_path(@book.id), class: 'btn btn-danger btn-sm', method: :delete, "data-confirm" => "削除しますか？" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<p class="text-center"><br>
    <br>
    CopyRight Infratop.inc
</p>