<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4b6668ffc2.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-5">
          <a href="#" class="navbar-brand pl-5 ">Bookers</a>
          <div class="collapse navbar-collapse justify-content-end" id="nav-menu">
            <div class="navbar-nav">
              <%= link_to user_path(current_user), class: "nav-item nav-link active" do %>
                <i class="fas fa-home pr-1"></i>Home
              <% end %>

              <%= link_to users_path, class: "nav-item nav-link active" do %>
                <i class="fas fa-users pr-1"></i>Users
              <% end %>

              <%= link_to books_path, class: "nav-item nav-link active" do %>
                <i class="fas fa-book-open pr-1"></i>Books
              <% end %>

              <%= link_to destroy_user_session_path, method: :delete, class: "nav-item nav-link active" do %>
                <i class="fas fa-sign-out-alt pr-1"></i> Log out
              <% end %>
            </div>
          </div>
        </nav>
      <% else %>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-5">
          <a href="#" class="navbar-brand pl-5 ">Bookers</a>
          <div class="collapse navbar-collapse justify-content-end" id="nav-menu">
            <div class="navbar-nav">
              <%= link_to root_path, class: "nav-item nav-link active" do %>
                <i class="fas fa-home pr-1"></i>Home
              <% end %>

              <%= link_to about_path, class: "nav-item nav-link active" do %>
                <i class="fas fa-link pr-1"></i>About
              <% end %>

              <%= link_to new_user_registration_path, class: "nav-item nav-link active" do %>
                <i class="fas fa-user-plus pr-1"></i> Sign up
              <% end %>

              <%= link_to user_session_path, class: "nav-item nav-link active" do %>
                <i class="fas fa-sign-in-alt pr-1"></i> Log in
              <% end %>
            </div>
          </div>
        </nav>
      <% end %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
